
@model IEnumerable<LinkViewModel>
@{
    string strTitle = "Simplify your link";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <div>
        <div class="div-box">
            @*<a asp-action="AddLinkForm">Add Link</a>*@


            <form method="post" action="AddLink">
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" name="message" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary btn-block">Send</button>
                    </div>
                </div>
            </form>

        </div>
@*        @if (Model.Any())
        {
*@
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(Model=>Model.Url)
                            </th>
                            <th>
                                @Html.DisplayNameFor(Model=>Model.DateAdded)
                            </th>
                            <th>
                                @Html.DisplayNameFor(Model=>Model.MinUrl)
                            </th>
                            <th>
                                @Html.DisplayNameFor(Model=>Model.Ticket)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var emp in Model)
                        {
                            <tr>
                                <td>
                                 <a href="@Html.DisplayFor(modelItem=>emp.Url)" target="_blank">@Html.DisplayFor(modelItem=>emp.Url)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem=>emp.DateAdded)
                                </td>
                                <td>
                                <form asp-controller="LinksItem" asp-action="UpTiсket" method="post">
                                    <input type="hidden" name="IdLink"  value="@emp.Id"/>
                                    <button type="submit" onclick="openlink('@emp.MinUrl')">
                                        @Html.DisplayFor(modelItem=>emp.MinUrl)
                                    </button>
                                    </form>
                                
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem=>emp.Ticket)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
      
    </div>

    <script>
        function openlink(myhref){
            window.open(myhref, '_blank')

        }
    </script>
    



